name: E2E - AutoIndexer PR Workflow

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
    paths:
      - 'test/**'
      - 'pkg/**'
      - 'cmd/**'
      - '.github/**'
      - 'jobs/**'

env:
  GO_VERSION: "1.24"

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  run-e2e:
    permissions:
      contents: read
      id-token: write
      statuses: write
    uses: ./.github/workflows/autoindexer-e2e-workflow.yaml
    with:
      git_sha: ${{ github.event.pull_request.head.sha }}
      region: "eastus"
      k8s_version: "1.31.10"
